<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>TvTrader</title>


<link th:src="@{src/main/static/css/main.css}" rel="stylesheet" />
</head>

<body>
	<h1>Configuration</h1>
	<form action="#" th:action="@{/configuration}"
		th:object="${getFormConfiguration}" method="post">
		<table>
			<tr>
				<td><h4>Intervals</h4></td>
			</tr>
			<tr>
				<td>Mail polling interval:</td>
				<td><input type="text" th:field="*{mailPollingInterval}" /></td>
				<td th:if="${#fields.hasErrors('mailPollingInterval')}"
					th:errors="*{mailPollingInterval}"></td>
			</tr>
			<tr>
				<td>Stoploss Interval:</td>
				<td><input type="text" th:field="*{stoplossInterval}" /></td>
				<td th:if="${#fields.hasErrors('stoplossInterval')}"
					th:errors="*{stoplossInterval}"></td>
			</tr>
			<tr>
				<td>Open Orders Interval:</td>
				<td><input type="text" th:field="*{openOrdersInterval}" /></td>
				<td th:if="${#fields.hasErrors('openOrdersInterval')}"
					th:errors="*{openOrdersInterval}"></td>
			</tr>
			<tr>
				<td>Open Orders Expiration Time:</td>
				<td><input type="text" th:field="*{openOrdersExpirationTime}" /></td>
				<td th:if="${#fields.hasErrors('openOrdersExpirationTime')}"
					th:errors="*{openOrdersExpirationTime}"></td>
			</tr>
			<tr>
				<td>Ticker Refresh Rate:</td>
				<td><input type="text" th:field="*{tickerRefreshRate}" /></td>
				<td th:if="${#fields.hasErrors('tickerRefreshRate')}"
					th:errors="*{tickerRefreshRate}"></td>
			</tr>
			<tr>
				<td>Asset Refresh Rate:</td>
				<td><input type="text" th:field="*{assetRefreshRate}" /></td>
				<td th:if="${#fields.hasErrors('assetRefreshRate')}"
					th:errors="*{assetRefreshRate}"></td>
			</tr>
		</table>
		<table>
			<tr>
				<td><h4>Mail Configuration</h4></td>
			</tr>
			<tr>
				<td>Expected Sender:</td>
				<td><input type="text" th:field="*{expectedSender}" /></td>
				<td th:if="${#fields.hasErrors('expectedSender')}"
					th:errors="*{expectedSender}"></td>
			</tr>
			<tr>
				<td>IMAPS Host:</td>
				<td><input type="text" th:field="*{host}" /></td>
				<td th:if="${#fields.hasErrors('host')}" th:errors="*{host}"></td>
			</tr>
			<tr>
				<td>Port:</td>
				<td><input type="text" th:field="*{port}" /></td>
				<td th:if="${#fields.hasErrors('port')}" th:errors="*{port}"></td>
			</tr>
			<tr>
				<td>Username:</td>
				<td><input type="text" th:field="*{username}" /></td>
				<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="text" th:field="*{password}" /></td>
				<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>
</body>
</html>